{% extends "main/base.html" %}
{% load phone_filters %}
{% load static %}

{% block title %}
{{ block.super }} - Карточка клиента {{ client.client_name }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/client.css' %}">
{% endblock %}

{% block content %}
<body class="client-page">
<h2 class="section-title" data-client-id="{{ client.id }}">
    Информация о клиенте "{{ client.client_name }}"
</h2>
<section>
    <div class="row">
        <div class="col-md-6">
            <p>Статус контакта:
                {% if client.contact_status %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-award-fill" viewBox="0 0 16 16">
                        <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-award-fill" viewBox="0 0 16 16">
                        <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                {% endif %}
            </p>
        </div>
        <div class="col-md-6 settings-icon">
            {% if client.contact_status %}
                <!-- Кнопка для снятия клиента с ТП -->
                <span class="suspend-client-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Снятие клиента с ТП"><i class="fa fa-user-times fa-2x" aria-hidden="true"></i></span>
            {% else %}
                <!-- Кнопка для перевода клиента на ТП -->
                <span class="activate-client-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Перевод клиента на ТП"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></span>
            {% endif %}
            <span class="edit-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Редактировать страницу"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></span>
            <span class="cancel-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Отменить изменения" style="display: none;"><i class="fa fa-reply fa-2x" aria-hidden="true"></i></span>
            <span class="save-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Сохранить изменения" style="display: none;"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
        </div>
    </div>
    <p>Учётная запись: <span class="editable">{{ client.short_name }}</span></p>
    <p>
        Пароль к jFrog:
        <span class="password-hidden editable" data-password="{{ client.password }}">********</span>
        <button class="show-password-button button">
            <i class="fa fa-low-vision" aria-hidden="true"></i> <!-- Глазик из Font Awesome -->
            <i class="fas fa-spinner fa-spin password-spinner" style="display: none; border:0px;"></i> <!-- Иконка вращающегося колесика -->
        </button>
        <button class="copy-password-button button" data-clipboard-target=".password-hidden" data-password="{{ client.password }}">
            <i class="fa fa-window-restore" aria-hidden="true"></i> <!-- Значок копирования из Font Awesome -->
        </button>
    </p>
    <p>Заметки: <span class="editable">{{ client.notes }}</span></p>
</section>
<section>
    <div style="display: flex; align-items: center;">
        <h3>Контакты</h3>
        <button class="add-row-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить контакт" data-table-type="contact"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Должность</th>
                <th scope="col">Email</th>
                <th scope="col">Телефон</th>
                <th scope="col">Рассылка обновлений</th>
            </tr>
        </thead>
        <tbody id="contact-tbody">
            {% for contact in contacts_list %}
                <tr data-row-id="{{ contact.id }}" data-notification-update="{{ contact.notification_update }}">
                    <td class="editable">{{ contact.firstname }}</td>
                    <td class="editable">{{ contact.lastname }}</td>
                    <td class="editable">{{ contact.contact_position }}</td>
                    <td class="editable">{{ contact.contact_email }}</td>
                    <td class="editable">
                        <span class="phone-number" data-phone="{{ contact.contact_number|default_if_none:''|phone_format }}">
                            {{ contact.contact_number|default_if_none:''|phone_format }}
                        </span>
                    </td>
                    <td class="editable notification-update">
                        {{ contact.notification_update|yesno:"Отправлять,Не отправлять" }}
                    </td>
                    <td class="delete-column" data-bs-toggle="tooltip" data-bs-placement="left" title="Удалить контакт">
                        <button class="delete-row-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section id="service-section">
    <h3 data-id="{{ servise.id }}">Обслуживание</h3>
    <p>Тарифный план: <span class="editable-select" data-options="Bronze,Silver,Gold,Platinum" data-field="service_pack">{{ servise.service_pack }}</span></p>
    <p>Менеджер: 
        <span class="editable-select" data-options="{% for manager in managers %}{{ manager.name }},{% endfor %}" data-field="manager">{{ servise.manager }}</span>
    </p>
    <p>Лояльность: <span class="editable-select" data-options="Low,Medium,High" data-field="loyal">{{ servise.loyal }}</span></p>
</section>
<section id="techinfo-section">
    <h3 data-id="{{ tech_info.id }}">Техническая информация</h3>
    <p>Версия сервера: <span class="editable" data-field="server_version">{{ tech_info.server_version }}</span></p>
    <p>Дата обновления: <span class="editable-date" data-field="update_date">{{ tech_info.update_date }}</span></p>
    <p><input type="checkbox" class="techinfo-toggle" {% if tech_info.api %}checked{% endif %} data-field="api">&nbsp Public API</p>
    <p>iPad: <span class="editable" data-field="ipad">{{ tech_info.ipad }}</span></p>
    <p>Android: <span class="editable" data-field="android">{{ tech_info.android }}</span></p>
    <p>MDM: <span class="editable" data-field="mdm">{{ tech_info.mdm }}</span></p>
    <p><input type="checkbox" class="techinfo-toggle" {% if tech_info.localizable_web %}checked{% endif %} data-field="localizable_web">&nbsp Локализация Web</p>
    <p><input type="checkbox" class="techinfo-toggle" {% if tech_info.localizable_ios %}checked{% endif %} data-field="localizable_ios">&nbsp Локализация iOS</p>
    <p><input type="checkbox" class="techinfo-toggle" {% if tech_info.skins_web %}checked{% endif %} data-field="skins_web">&nbsp Скины Web</p>
    <p><input type="checkbox" class="techinfo-toggle" {% if tech_info.skins_ios %}checked{% endif %} data-field="skins_ios">&nbsp Скины iOS</p>
</section>
<section>
    <h3>Интеграции</h3>
    <div class="row">
        <div class="col-md-4">
            <p><input type="checkbox" class="integration-toggle" {% if integration.elasticsearch %}checked{% endif %}>&nbsp ElasticSearch</p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.ad %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Синхронизация пользователей Active Directory">Служба каталогов</span>
            </p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.adfs %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Аутентификация через форму BoardMaps с учётной записью Active Directory">LDAP</span>
            </p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.oauth_2 %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Аутентификация без ввода пароля пользователя">Windows SSO</span>
            </p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.oauth_2 %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Аутентификация в BoardMaps через доменный сертификат">Клиентский доменный сертификат</span>
            </p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.oauth_2 %}checked{% endif %}>&nbsp Аутентификация с помощью ЭП</p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.module_translate %}checked{% endif %}>&nbsp Трансляции материалов</p>
        </div>
        <div class="col-md-4">
            <p><input type="checkbox" class="integration-toggle" {% if integration.ms_oos %}checked{% endif %}>&nbsp MS Office Online Server</p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.exchange %}checked{% endif %}>&nbsp MS Exchange Server</p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.office_365 %}checked{% endif %}>&nbsp MS Exchange Online или MS 365</p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.sfb %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Видео-конференц-связь (TrueConf, Zoom и т.д.)">ВКС</span>
            </p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.zoom %}checked{% endif %}>&nbsp Zoom</p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.teams %}checked{% endif %}>&nbsp MS Teams</p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.smtp %}checked{% endif %}>&nbsp SMTP</p>
        </div>
        <div class="col-md-4">
            <p><input type="checkbox" class="integration-toggle" {% if integration.cryptopro_dss %}checked{% endif %}>&nbsp Крипто Про DSS</p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.cryptopro_csp %}checked{% endif %}>&nbsp Крипто Про CSP</p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.smpp %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Двухфакторной аутентификации по SMS">SMPP</span>
            </p>
            <p><input type="checkbox" class="integration-toggle" {% if integration.limesurvey %}checked{% endif %}>&nbsp Анкетирование</p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.limesurvey %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Автоматический импорт новостей">RSS или Atom</span>
            </p>
            <p>
                <input type="checkbox" class="integration-toggle" {% if integration.limesurvey %}checked{% endif %}>
                &nbsp 
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Запись о ходе исполнения поручения и добавление материалов через email для внешних сотрудников">Исполнение поручений</span>
            </p>
        </div>
    </div>
</section>
<section>
    <h3>Модули</h3>
    <div class="row">
        <div class="col-md-4">
            <p><input type="checkbox" class="module-toggle" {% if module.translate %}checked{% endif %}>&nbsp Трансляция</p>
            <p><input type="checkbox" class="module-toggle" {% if module.electronic_signature %}checked{% endif %}>&nbsp Электронная подпись</p>
            <p><input type="checkbox" class="module-toggle" {% if module.action_items %}checked{% endif %}>&nbsp Поручения</p>
            <p><input type="checkbox" class="module-toggle" {% if module.limesurvey %}checked{% endif %}>&nbsp Анкетирование</p>
        </div>
        <div class="col-md-4">
            <p><input type="checkbox" class="module-toggle" {% if module.advanced_voting %}checked{% endif %}>&nbsp Расширенные сценарии голосования</p>
            <p><input type="checkbox" class="module-toggle" {% if module.advanced_work_with_documents %}checked{% endif %}>&nbsp Расширенные сценарии работы с документами</p>
            <p><input type="checkbox" class="module-toggle" {% if module.advanced_access_rights_management %}checked{% endif %}>&nbsp Расширенные сценарии управления правами доступа</p>
            <p><input type="checkbox" class="module-toggle" {% if module.visual_improvements %}checked{% endif %}>&nbsp Визуальные улучшения</p>
        </div>
        <div class="col-md-4">
            <p><input type="checkbox" class="module-toggle" {% if module.third_party_product_integrations %}checked{% endif %}>&nbsp Интеграции со сторонними продуктами</p>
            <p><input type="checkbox" class="module-toggle" {% if module.microsoft_enterprise_product_integrations %}checked{% endif %}>&nbsp Интеграция с продуктами Microsoft Enterprise</p>
            <p><input type="checkbox" class="module-toggle" {% if module.microsoft_office_365_integration %}checked{% endif %}>&nbsp Интеграция с продуктами Microsoft Office 365</p>
        </div>
    </div>
</section>
<section id="vpn_info-section">
    <h3 data-id="{% if connection_info %}{{ connection_info.id }}{% else %}new{% endif %}">Информация для подключения</h3>
    <p>Файл: <a href="{{ file_path }}">{{ file_name }}</a></p>
    <div class="document-preview">
        <iframe src="{% url 'document_preview' file_path=file_path %}"></iframe>
    </div>
    <p>Краткое описание:</p>
    <div class="max-width-text">
        <pre class="editable" data-field="text">{{ text|linebreaksbr|urlize|safe }}</pre>
    </div>
</section>
<section>
    <div style="display: flex; align-items: center;">
        <h3>Учётные записи для подключения</h3>
        <button class="add-row-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить учетную запись" data-table-type="connect_info"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Учетная запись</th>
                <th scope="col">Пароль</th>
            </tr>
        </thead>
        <tbody id="connect_info-tbody">
            {% for connect_info in connect_info_list %}
            <tr data-row-id="{{ connect_info.id }}">
                    <td class="editable">{{ connect_info.contact_info_name }}</td>
                    <td>
                        <span class="account-hidden editable" data-account="{{ connect_info.contact_info_account }}">{{ connect_info.contact_info_account }}</span>
                        <button class="copy-account-button button" data-clipboard-target=".account-hidden" data-account="{{ connect_info.contact_info_account }}">
                            <i class="fa fa-window-restore" aria-hidden="true"></i> <!-- Значок копирования из Font Awesome -->
                        </button>
                    </td>
                    <td>
                        <span class="password-hidden editable" data-password="{{ connect_info.contact_info_password }}">********</span>
                        <button class="show-password-button button">
                            <i class="fa fa-low-vision" aria-hidden="true"></i> <!-- Глазик из Font Awesome -->
                            <i class="fas fa-spinner fa-spin password-spinner" style="display: none; border:0px;"></i> <!-- Иконка вращающегося колесика -->
                        </button>
                        <button class="copy-password-button button" data-clipboard-target=".password-hidden" data-password="{{ connect_info.contact_info_password }}">
                            <i class="fa fa-window-restore" aria-hidden="true"></i> <!-- Значок копирования из Font Awesome -->
                        </button>
                        <td class="delete-column" data-bs-toggle="tooltip" data-bs-placement="left" title="Удалить контакт"><button class="delete-row-button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <div style="display: flex; align-items: center;">
        <h3>Технические учетные записи</h3>
        <button class="add-row-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить учетную запись" data-table-type="tech_account"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Описание</th>
                <th scope="col">Учетная запись</th>
                <th scope="col">Пароль</th>
            </tr>
        </thead>
        <tbody id="tech_account-tbody">
            {% for tech_account in tech_account_list %}
                <tr data-row-id="{{ tech_account.id }}">
                    <td class="editable">{{ tech_account.contact_info_disc }}</td>
                    <td>
                        <span class="account-hidden editable" data-account="{{ tech_account.contact_info_account }}">{{ tech_account.contact_info_account }}</span>
                        <button class="copy-account-button button" data-clipboard-target=".account-hidden" data-account="{{ tech_account.contact_info_account }}">
                            <i class="fa fa-window-restore" aria-hidden="true"></i> <!-- Значок копирования из Font Awesome -->
                        </button>
                    </td>
                    <td>
                        <span class="password-hidden editable" data-password="{{ tech_account.contact_info_password }}">********</span>
                        <button class="show-password-button button">
                            <i class="fa fa-low-vision" aria-hidden="true"></i> <!-- Глазик из Font Awesome -->
                            <i class="fas fa-spinner fa-spin password-spinner" style="display: none; border:0px;"></i> <!-- Иконка вращающегося колесика -->
                        </button>
                        <button class="copy-password-button button" data-clipboard-target=".password-hidden" data-password="{{ tech_account.contact_info_password }}">
                            <i class="fa fa-window-restore" aria-hidden="true"></i> <!-- Значок копирования из Font Awesome -->
                        </button>
                        <td class="delete-column" data-bs-toggle="tooltip" data-bs-placement="left" title="Удалить контакт"><button class="delete-row-button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <div style="display: flex; align-items: center;">
        <h3>Серверы BoardMaps</h3>
        <button class="add-row-button" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить сервер BoardMaps" data-table-type="bm_server"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Контур</th>
                <th scope="col">Имя сервера</th>
                <th scope="col">Адрес сервера</th>
                <th scope="col">Операционная система</th>
                <th scope="col">URL</th>
                <th scope="col">Роль</th>
            </tr>
        </thead>
        <tbody id="bm_server-tbody">
            {% for bm_server in bm_servers_list %}
                <tr data-row-id="{{ bm_server.id }}">
                    <td class="editable">{{ bm_server.bm_servers_circuit }}</td>
                    <td class="editable">{{ bm_server.bm_servers_servers_name }}</td>
                    <td class="editable">{{ bm_server.bm_servers_servers_adress }}</td>
                    <td class="editable">{{ bm_server.bm_servers_operation_system }}</td>
                    <td><span class="editable">{{ bm_server.bm_servers_url|urlize }}</span></td>
                    <td class="editable">{{ bm_server.bm_servers_role }}</td>
                    <td class="delete-column" data-bs-toggle="tooltip" data-bs-placement="left" title="Удалить контакт"><button class="delete-row-button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section id="technote-section">
    <h3 data-id="{{ tech_note.id }}">Технические заметки</h3>
    <div class="max-width-text">
        <pre class="editable" data-field="tech_note_text">{{ tech_note.tech_note_text|linebreaksbr|urlize|safe }}</pre>
    </div>
</section>
<section>

</section>
<section>
    <!-- Для подсказок -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <script src="{% static 'js/client/password.js' %}"></script>
    <script src="{% static 'js/client/account.js' %}"></script>
    <script src="{% static 'js/toastify-settings.js' %}"></script>
    <script src="{% static 'js/client/change_client_status.js' %}"></script>
    <!-- Для режима редактирования -->
    <script src="{% static 'js/client/edit_mode.js' %}"></script>
    <script src="{% static 'js/client/phone_mask.js' %}"></script>
</section>
</body>
{% endblock %}
