{% for client in clients %}
<div class="modal fade" id="integrationModal_{{ client.id }}" tabindex="-1" aria-labelledby="integrationModalLabel_{{ client.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="integrationModalLabel_{{ client.id }}">Интеграции для {{ client.client_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="updateIntegrationForm_{{ client.id }}" action="{% url 'update_integration' client.id %}">
                    {% csrf_token %}
                    {{ forms.client.id }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button form="updateIntegrationForm_{{ client.id }}" type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
