{% extends "base.html" %}
{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container py-4">
    <h2>Контакты</h2>
    <h3>Разработчик</h3>
    <p><strong>Елисеев Олег</strong><br>
    ✉️ Почта: <a href="mailto:oleg.eliseev@boardmaps.ru">oleg.eliseev@boardmaps.ru</a><br>
    📟 Телеграм: <a href="https://t.me/eliseev_oleg">@eliseev_oleg</a></p>
    
    <h3>Технический директор</h3>
    <p><strong>Сорокин Максим</strong><br>
    ✉️ Почта: <a href="mailto:maxim.sorokin@boardmaps.ru">maxim.sorokin@boardmaps.ru</a><br>
    📟 Телеграм: <a href="https://t.me/sorokin_max">@sorokin_max</a></p>
</div>
{% endblock %}
