venv
.env
__pycache__
help.txt
backend/apps/clients/migrations/*
backend/apps/company/migrations/*
backend/apps/mailings/migrations/*
backend/apps/configurations/migrations/*
backend/staticfiles/*
Main.config
backend/scripts/release/HTML/attachment/RU/*
