database_1_TEST.db
**/__pycache__/*
.env
*.log
logs/debug.log
logs/info.log
media/favicons/icon_card.png
media/favicons/icon_documents.png
media/favicons/icon_service.png
media/favicons/icon_tech_info.png
media/favicons/icon_integrations.png
.DS_Store
node_modules
dbbackup
0001_initial.py
media/favicons/background_image.jpg
media/favicons/favicon.png
media/uploaded_files/Шаблон_выписки_по_вопросу.docx
main/migrations/0003_contactscard_contact_number.py
media/uploaded_files/Temp_report_tele2_29.09.2023.docx
main/migrations/0004_reportticket_initiator.py
main/migrations/0002_alter_integration_ad_alter_integration_elasticsearch_and_more.py
main/migrations/0002_reportdownloadjfrog.py
main/migrations/0004_alter_clientscard_bm_servers_and_more.py
main/migrations/0005_releaseinfo.py
main/migrations/0006_alter_releaseinfo_release_number.py
main/migrations/0003_alter_bmserverscard_bm_servers_circuit_and_more.py
main/migrations/0005_usersboardmaps.py
main/migrations/0006_alter_connectioninfo_options_and_more.py
main/migrations/0007_servisecard_manager_new.py
