{
    "TELEGRAM_SETTINGS" :
    {
        "PROXY" : "api.telegram.org",
        "BOT_ID" : "",
        "BOT_TOKEN" : ""
    },
    "TFS" : {
        "assigned_to_product": ""
    },
    "MAIL_SETTINGS" :
    {
        "USER" : "smtp@example.com",
        "PASSWORD" : "",
        "FROM" : "smtp@example.com",
        "SMTP" : "mail.example.com"
    },
    "MAIL_SETTINGS_SUPPORT":
    {
        "USER" : "support@example.ru",
        "PASSWORD" : "",
        "FROM" : "support@example.ru",
        "SMTP" : "smtp.yandex.ru"
    },
    "TICKET_SETTINGS" : 
    {
        "API_ENDPOINT" : "https://cs.example.ru/api/v2/tickets",
        "API_KEY" : "admin@example.ru",
        "API_SECRET" : ""
    },
    "SEND_ALERT" : 
    {
        "GROUP_SUPPOR_TEAM" : "",
        "GROUP_RELEASE" : "",
        "GROUP_TICKETS" : ""
    },
    "YANDEX_DISK":
    {
        "OAUTH-TOKEN" : "",
        "CLIENT_ID" : "",
        "CLIENT_SECRET" : ""
    },
    "YANDEX_DBS_TEAM":
    {
        "OAUTH-TOKEN" : "",
        "CLIENT_ID" : "",
        "CLIENT_SECRET" : ""
    },
    "FILE_SHARE":
    {
        "USERNAME" : "svc",
        "PASSWORD" : "",
        "DOMAIN" : "corp.example.com",
        "SMB_SERVER" : "DOMAIN"
    },
    "CONFLUENCE":
    {
        "USERNAME" : "",
        "PASSWORD" : ""
    },
    "NEXT_CLOUD":
    {
        "URL" : "https://cloud.example.ru",
        "USER" : "ncloud",
        "PASSWORD" : ""
    },
    "YANDEX_DISK_FOLDERS": {
        "release2x": {
            "server": [
                "/Документация/Server/{version_info}/{language}",
                "/Документация/Server/{version_info}/{language}/USERS",
                "/Документация/Server/{version_info}/{language}/ADMINISTRATORS"
            ],
            "ipad": [
                "/Документация/iPad/{version_info}/{language}",
                "/Документация/iPhone/{version_info}/{language}"
            ],
            "android": [
                "/Документация/Android/{version_info}/{language}"
            ]
        },
        "release3x": {
            "server": [
                "/Документация/.../{version_info}/{language}",
                "/Документация/.../{version_info}/{language}/USERS",
                "/Документация/.../{version_info}/{language}/ADMINISTRATORS",
                "/Документация/.../{version_info}/{language}/INSTRUCTIONS"
            ],
            "ipad": [
                "/Документация/.../{version_info}/{language}"
            ],
            "android": [
                "/Документация/.../{version_info}/{language}"
            ]
        }
    },
    "CREG":
    {
        "URL" : "https://creg.example.ru",
        "USERNAME" : "",
        "PASSWORD" : ""
    },
    "WEB_SERVER":
    {
        "USERNAME" : "",
        "PASSWORD" : ""
    }
}
