{
    "TELEGRAM_SETTINGS" :
    {
        "PROXY" : "api.telegram.org",
        "BOT_ID" : "",
        "BOT_TOKEN" : ""
    },
    "TFS" : {
        "assigned_to_product": ""
    },
    "MAIL_SETTINGS" :
    {
        "USER" : "",
        "PASSWORD" : "",
        "FROM" : "",
        "SMTP" : "example.boardmaps.com"
    },
    "MAIL_SETTINGS_SUPPORT":
    {
        "USER" : "",
        "PASSWORD" : "",
        "FROM" : "",
        "SMTP" : "smtp.yandex.ru"
    },
    "TICKET_SETTINGS" : 
    {
        "API_ENDPOINT" : "https://cs.boardmaps.ru/api/v2/tickets",
        "API_KEY" : "",
        "API_SECRET" : ""
    },
    "SEND_ALERT" : 
    {
        "GROUP_SUPPOR_TEAM" : "",
        "GROUP_RELEASE" : "",
        "GROUP_TICKETS" : ""
    },
    "YANDEX_DISK":
    {
        "OAUTH-TOKEN" : "",
        "CLIENT_ID" : "",
        "CLIENT_SECRET" : ""
    },
    "YANDEX_DBS_TEAM":
    {
        "OAUTH-TOKEN" : "",
        "CLIENT_ID" : "",
        "CLIENT_SECRET" : ""
    },
    "FILE_SHARE":
    {
        "USERNAME" : "",
        "PASSWORD" : "",
        "DOMAIN" : "corp.domain.com"
    },
    "NEXT_CLOUD":
    {
        "URL" : "",
        "USER" : "ncloud",
        "PASSWORD" : ""
    },
    "YANDEX_DISK_FOLDERS": {
        "release2x": {
            "server": [
                "/Документация BoardMaps/Server/{version_info}/{language}",
                "/Документация BoardMaps/Server/{version_info}/{language}/USERS",
                "/Документация BoardMaps/Server/{version_info}/{language}/ADMINISTRATORS"
            ],
            "ipad": [
                "/Документация BoardMaps/iPad/{version_info}/{language}",
                "/Документация BoardMaps/iPhone/{version_info}/{language}"
            ],
            "android": [
                "/Документация BoardMaps/Android/{version_info}/{language}"
            ]
        },
        "release3x": {
            "server": [
                "/Документация BoardMaps/BoardMaps 3.0/{version_info}/{language}",
                "/Документация BoardMaps/BoardMaps 3.0/{version_info}/{language}/USERS",
                "/Документация BoardMaps/BoardMaps 3.0/{version_info}/{language}/ADMINISTRATORS"
            ],
            "ipad": [
                "/Документация BoardMaps/iPad/{version_info}/{language}",
                "/Документация BoardMaps/iPhone/{version_info}/{language}"
            ],
            "android": [
                "/Документация BoardMaps/Android 3.0/{version_info}/{language}"
            ]
        }
    },
    "CREG":
    {
        "URL" : "https://creg.boardmaps.ru",
        "USERNAME" : "admin",
        "PASSWORD" : ""
    },
    "WEB_SERVER":
    {
        "USERNAME" : "admin",
        "PASSWORD" : ""
    }
}
