{
    "Docker": {
        "RABBITMQ": {
            "RABBITMQ_DEFAULT_USER": "",
            "RABBITMQ_DEFAULT_PASS": ""
        },
        "POSTGRES": {
            "POSTGRES_DB": "database_1.db",
            "POSTGRES_USER": "",
            "POSTGRES_PASSWORD": ""
        },
        "GRAYLOG": {
            "GRAYLOG_PASSWORD_SECRET": "",
            "GRAYLOG_ROOT_PASSWORD_SHA2": ""
        }
    }
}
