<!-- main/templates/main/custom_db_error.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервис недоступен</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #ff0000;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Сервис Creg временно недоступен</h1>
    <p>В данный момент времени сервис Creg не работает в связи с тем, что база данных недоступна. Пожалуйста, попробуйте позже.</p>
    <img src="{% static 'images/maintenance.png' %}" alt="Maintenance">
</body>
</html>
