{% extends 'main/base.html' %}
{% load static %}
{% load json_filters %}

{% block title %}
{{ block.super }} - Рассылки
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/release/mailing.css' %}">
{% endblock %}

{% block content %}
    <h2 class="section-title mb-4">Шаблоны рассылки</h2>
    
    <!-- Шапка выборки -->
    <div class="mailing-header mb-4">
        <div class="row">
            <!-- Левый столбец -->
            <div class="col-sm-4">
                <!-- Выбор типа рассылки -->
                <div class="row mb-3">
                    <label for="releaseTypeGroup" class="col-sm-6 col-form-label input-limited">Выберите тип рассылки:</label>
                    <div class="col-sm-6">
                        <select class="form-select input-limited" id="releaseTypeGroup">
                            <option value="standard_mailing" selected>Стандартная рассылка</option>
                            <option value="request">Запрос сервисного окна</option>
                            <option value="hotfix">Hotfix</option>
                            <option value="feedback">Обратная связь</option>
                            <option value="custom_mailing">Кастомная рассылка</option>
                        </select>
                    </div>
                </div>
                
                <!-- Выбор рассылки -->
                <div class="row mb-3">
                    <label for="releaseGroup" class="col-sm-6 col-form-label input-limited">Выберите рассылку:</label>
                    <div class="col-sm-6">
                        <select class="form-select input-limited" id="releaseGroup">
                            <option value="release2x" selected>2.х</option>
                            <option value="release3x">3.х</option>
                            <option value="releaseiPad2x">iPad/iPhone 2.0</option>
                            <option value="releaseiPad3x">iPad/iPhone 3.0</option>
                            <option value="releaseAndroid2x">Android 2.0</option>
                            <option value="releaseAndroid3x">Android 3.0</option>
                            <option value="releaseModule">По модулям</option>
                            <option value="releaseIntegration">По интеграциям</option>
                            <option value="releaseGP">Gold/Platinum</option>
                            <option value="releaseSaaS">SaaS</option>
                        </select>
                    </div>
                </div>
                
                <!-- Выбор языка -->
                <div class="row mb-3">
                    <label for="languageSelect" class="col-sm-6 col-form-label input-limited">Язык:</label>
                    <div class="col-sm-6">
                        <select class="form-select input-limited" id="languageSelect">
                            <option value="ru" selected>Русский</option>
                            <option value="en">Английский</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <!-- Правый столбец -->
            <div class="col-sm-4">
                <div class="row mb-3">
                    <!-- Левый столбец: Номер релиза, Номер iPad релиза, Номер Android релиза -->
                    <div class="col-sm-6">
                        <!-- Номер релиза -->
                        <div class="mb-3" id="numberReleaseRow">
                            <input type="text" class="form-control input-limited" id="numberRelease" placeholder="Номер релиза">
                        </div>
                        <!-- Номер iPad релиза -->
                        <div class="mb-3" id="iPadVersionRow" style="display: none;">
                            <input type="text" class="form-control input-limited" id="iPadVersion" placeholder="Номер iPad релиза">
                        </div>
                        <!-- Номер Android релиза -->
                        <div class="mb-3" id="AndroidVersionRow" style="display: none;">
                            <input type="text" class="form-control input-limited" id="AndroidVersion" placeholder="Номер Android релиза">
                        </div>
                    </div>
                    <!-- Правый столбец: Почта -->
                    <div class="col-sm-6" id="emailRow">
                        <input type="email" class="form-control input-limited" id="email" placeholder="Почта">
                    </div>
                </div>
            </div>
            
            <!-- Блок управления рассылкой -->
            <div class="col-sm-4">
                <!-- Кнопки отправки рассылки -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary mx-auto" id="applyButton" style="display: none;">Отправить тестовую рассылку</button>
                        <button class="btn btn-primary mx-auto" id="applyButtonProd" style="display: none;">Отправить рассылку клиентам</button>
                        <button class="btn btn-primary mx-auto" id="sendRequestButton" style="display: none;">Отправить запрос сервисного окна</button>
                        <button class="btn btn-primary mx-auto" id="applyButtonHotfix" style="display: none;">Отправить Hotfix рассылку</button>
                    </div>
                </div>
                <!-- Чекбокс Тестовая рассылка -->
                <div class="row mb-3">
                    <div class="form-check text-center d-flex align-items-center justify-content-center">
                        <input class="form-check-input" type="checkbox" id="testMailingCheckbox" checked style="margin-right: 10px; transform: translateY(-3px);">
                        <label class="form-check-label" for="testMailingCheckbox">Тестовая рассылка</label>
                    </div>
                </div>
                <!-- Спиннер -->
                <div id="loading-spinner" style="display: none;" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок управления шаблонами -->
    <div class="row mb-3">
        <div class="col-sm-12">
            <button class="btn btn-secondary" id="downloadButton">Скачать шаблон</button>
            <button class="btn btn-primary" id="uploadButton">Загрузить шаблон</button>
            <input type="file" id="uploadInput" />
        </div>
    </div>

    <!-- Предпросмотр шаблона -->
    <div class="row mb-3">
        <div class="col-sm-12">
            <iframe id="previewIframe" style="width: 30%; height: 600px; border: 1px solid #ddd; padding: 0;"></iframe>
        </div>
    </div>

    <script type="module" src="{% static 'js/release/mailing.js' %}"></script>
    <script type="module" src="{% static 'js/release/send_service_request.js' %}"></script>
    <script type="module" src="{% static 'js/release/send_mailing_test.js' %}"></script>
    <script type="module" src="{% static 'js/release/send_mailing_prod.js' %}"></script>
    <script src="{% static 'js/toastify-settings.js' %}"></script>
{% endblock %}
