{% extends "base.html" %}

{% load static %}
{% load custom_filters %}
{% include "includes/messages.html" %}

{% block title %}Рассылки{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mailings/css/mailing_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Список рассылок</h2>
    <a href="{% url 'mailing:create_mailing' %}" class="styled-btn create-mailing-btn">Создать рассылку</a>

    <table class="table table-striped table-hover">
        <thead class="text-center">
            <tr>
                <th style="width: 5%;">ID</th>
                <th>Релиз</th>
                <th>Тип</th>
                <th>Компоненты</th>
                <th>Статус</th>
                <th>Создано</th>
                <th style="width: 15%;" class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for mailing in mailings %}
            <tr>
                <td>{{ mailing.id }}</td>
                <td>{{ mailing.release_number }}</td>
                <td>{{ mailing.get_release_type_display }}</td>
                <td>
                    {% for component in mailing.components.all %}
                        {{ component.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span class="text-muted">Нет компонентов</span>
                    {% endfor %}
                </td>
                <td id="status-{{ mailing.id }}">{{ mailing.get_status_display }}</td>
                <td>{{ mailing.created_at|date:"d.m.Y H:i" }}</td>
                <td class="text-center">
                    <div class="d-flex gap-2 justify-content-center">
                        {% if mailing.status == "draft" %}
                            <a href="{% url 'mailing:edit_mailing' mailing.id %}" class="styled-btn-sm edit-mailing">Редактировать</a>
                            <button class="styled-btn-sm start-mailing" data-id="{{ mailing.id }}">Запустить</button>
                        {% else %}
                            <a href="{% url 'mailing:mailing_detail' mailing.id %}" class="styled-btn view-result">Результат</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'mailings/js/mailing_list.js' %}"></script>

{% endblock %}
