body.client-page {
    background: url('/media/favicons/Koty12.png') no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Стиль для полоски разделения модулей и интеграций */
.column-divider {
    border-right: 1px solid #e0e0e0; /* Цвет полоски */
    padding-right: 20px; /* Отступ справа от контента до границы */
    margin-right: 20px; /* Дополнительный отступ справа от границы */
}


.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    vertical-align: middle;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #5a5959;
    vertical-align: middle;
}

/* Стиль для блоков ввода в режиме редактора */
.table .editField {
    width: 100%;
    box-sizing: border-box; /* Учитывает padding и border в ширине элемента */
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
}

.document-preview iframe {
    width: 10%;
    height: 100px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    border: none; /* Убираем рамку */
    background:none;
    vertical-align: middle;
}

/* Добавляем рамку к иконкам глаза и копирования */
.fa-window-restore, .fa-low-vision {
    border: 1px solid rgba(185, 184, 184, 0.842); /* тонкая черная рамка */
    padding: 2px; /* небольшое расстояние между иконкой и рамкой */
    border-radius: 3px; /* скругление углов рамки */
    vertical-align: bottom;
}

h3 {
    padding-bottom: 10px;
    padding-top: 25px;
}

/* Стиль для иконки редактирования */
.edit-button {
    color: rgb(223, 82, 27);
    border: 0px;
}

.cancel-button {
    color: rgb(81, 140, 230);
    border: 0px;
    margin-right: 8px;
}

.save-button {
    color: rgb(81, 172, 38);
    border: 0px;
}

.add-row-button {
    color: rgb(27, 172, 34);
    border: 0px;
    margin-left: 8px;
    background: none;
    padding-top: 11px;
    display: none;
}

.delete-row-button {
    color: rgb(236, 110, 7);
    border: none;
    background: none;
    padding-left: 15px;
}

.settings-icon {
    text-align: right;
    padding-right: 30px;
}

/* Стиль для подсказок */
.tooltip .tooltip-inner {
    background-color: #f7c29ef6; /* Цвет фона уведомления */
    color: #000000; /* Цвет текста уведомления */
}

td.delete-column {
    border: none;
    display: none;
}
