<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creg</title>
    <link rel="icon" href="{{ FAVICON_URL }}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Подлючаем CSS стиль фреимворка vue-good-table -->
    <link rel="stylesheet" href="https://unpkg.com/vue-good-table@2.21.10/dist/vue-good-table.min.css" />
    <!-- Подключаем jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключаем Jeditable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.19/jquery.jeditable.min.js"></script>
    <!-- Подключаем Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- Подключаем Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Switchery CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">
    <!-- Switchery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script>
    <!-- Фреимворк для алертов -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Добавляем скрипт и стили фреимворка SELECT2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <!-- Добавляем скрипт фреимворка Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Добавляем скрипт фреимворка vue-good-table -->
    <script src="https://unpkg.com/vue-good-table@2.21.10/dist/vue-good-table.js"></script>
    <!-- Подключаем Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Подключаем daterangepicker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="{% static 'js/search/search.js' %}"></script>
    <!-- Подключаем Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Фреимворк для иконок Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    {% block extra_js %}
    <!-- Здесь я смогу потом добавить уникальные скрипты для конкретных html шаблонов -->
    {% endblock %}
    <style>
        @media (max-width: 767px) {
            .navbar-collapse {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 999;
                background-color: #f7c29ef6;
                width: 100%;
                padding: 10px;
            }
            .navbar-toggler {
                position: relative;
                z-index: 1000;
            }
        }
        @media (min-width: 768px) {
            .navbar-collapse {
                display: flex !important;
                justify-content: center;
                align-items: center;
            }
        }
        .navbar-nav.ml-auto {
            margin-left: auto !important;
        }
        body {
          font-family: 'Arial', sans-serif;
          background-color: #ffffff;
          font-size: 17px;
        }
    </style>
    {% block extra_css %}
    <!-- Здесь я смогу потом добавить уникальные стили для конкретных html шаблонов -->
    {% endblock %}
</head>
<body>
    <header class="navbar navbar-light sticky-top flex-md-nowrap p-0 shadow" style="background-color: #f7c29ef6;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 d-flex" href="{% url 'home' %}">Creg</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
        <li class="nav-item d-md-none">
            <!-- Для мобильной версии -->
            <a class="nav-link px-3" href="#" data-bs-toggle="modal" data-bs-target="#advancedSearchModalMobile">Расширенный поиск</a>
        </li>
        <li class="nav-item d-md-none">
            <a class="nav-link px-3" href="/admin">Панель администрирования</a>
        </li>
        </ul>
        <div class="search-bar">
        <!-- Для браузерной версии -->
        <button id="advancedSearchButton" class="d-none d-md-inline-block" data-bs-toggle="modal" data-bs-target="#advancedSearchModalDesktop">Расширенный поиск</button>
        <div class="search-input-wrapper">
            <input type="text" id="regularSearch" placeholder="Поиск информации о клиенте" data-url="{% url 'client' client_id=0 %}">
        </div>
        </div>
        <div class="navbar-nav ml-auto nav-item">
        <a class="nav-link link-dark px-2" href="{% url 'create_client' %}">Добавить клиента</a>
        </div>
        <div class="navbar-nav ml-auto nav-item">
        <a class="nav-link link-dark px-2" href="/admin">Панель администрирования</a>
        </div>
    </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Модальное окно для дополнительного поиска -->
    {% include 'main/search/search_modal.html' %}
    <div class="container">
    {% if not hide_footer %}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#creg"/></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; Елисеев Олег</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a id="back-to-top" class="text-body-secondary" href="#" style="display: none;"><i class="fa fa-chevron-circle-up fa-4x" aria-hidden="true"></i></a></li>
        </ul>
        </footer>
        <script src="{% static 'js/button_scroll_up.js' %}"></script>
    {% endif %}
    </div>
    <script src="{% static 'js/switchery_setup.js' %}"></script>
    <script src="{% static 'js/toastify-settings.js' %}"></script>
</body>
</html>
