{% extends "main/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h2>Информация о клиенте</h2>
    <p>Имя: {{ client.client_name }}</p>
    <p>Статус контакта: {{ client.contact_status }}</p>
    <p>Заметки: {{ client.notes }}</p>
    
    <h3>Контакты</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Должность</th>
                <th scope="col">Email</th>
                <th scope="col">Рассылка обновлений</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts_list %}
                <tr>
                    <td>{{ contact.contact_name }}</td>
                    <td>{{ contact.contact_position }}</td>
                    <td>{{ contact.contact_email }}</td>
                    <td>{{ contact.notification_update }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Сервисная карта</h3>
    <p>Тарифный план: {{ servise.service_pack }}</p>
    <p>Менеджер: {{ servise.manager }}</p>
    <p>Лояльность: {{ servise.loyal }}</p>
    
    <h3>Техническая информация</h3>
    <p>Версия сервера: {{ tech_info.server_version }}</p>
    <p>Дата обновления: {{ tech_info.update_date }}</p>
    <p>API: {{ tech_info.api }}</p>
    <p>iPad: {{ tech_info.ipad }}</p>
    <p>Android: {{ tech_info.android }}</p>
    <p>MDM: {{ tech_info.mdm }}</p>
    <p>Локализация Web: {{ tech_info.localizable_web }}</p>
    <p>Локализация iOS: {{ tech_info.localizable_ios }}</p>
    <p>Скины Web: {{ tech_info.skins_web }}</p>
    <p>Скины iOS: {{ tech_info.skins_ios }}</p>
    
    <h3>Информация для подключения</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Учетная запись</th>
                <th scope="col">Пароль</th>
            </tr>
        </thead>
        <tbody>
            {% for connect_info in connect_info_list %}
                <tr>
                    <td>{{ connect_info.contact_info_name }}</td>
                    <td>{{ connect_info.contact_info_account }}</td>
                    <td>{{ connect_info.contact_info_password }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Серверы BoardMaps</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Контур</th>
                <th scope="col">Имя сервера</th>
                <th scope="col">Адрес сервера</th>
                <th scope="col">Операционная система</th>
                <th scope="col">URL</th>
                <th scope="col">Роль</th>
            </tr>
        </thead>
        <tbody>
            {% for bm_server in bm_servers_list %}
                <tr>
                    <td>{{ bm_server.bm_servers_circuit }}</td>
                    <td>{{ bm_server.bm_servers_servers_name }}</td>
                    <td>{{ bm_server.bm_servers_servers_adress }}</td>
                    <td>{{ bm_server.bm_servers_operation_system }}</td>
                    <td>{{ bm_server.bm_servers_url }}</td>
                    <td>{{ bm_server.bm_servers_role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Интеграция</h3>
    <p>ElasticSearch: {{ integration.elasticsearch }}</p>
    <p>Active Directory: {{ integration.ad }}</p>
    <p>ADFS: {{ integration.adfs }}</p>
    <p>OAuth 2.0: {{ integration.oauth_2 }}</p>
    <p>Модуль трансляции: {{ integration.module_translate }}</p>
    <p>MS OOS: {{ integration.ms_oos }}</p>
    <p>Exchange: {{ integration.exchange }}</p>
    <p>Office 365: {{ integration.office_365 }}</p>
    <p>Skype For Business: {{ integration.sfb }}</p>
    <p>Zoom: {{ integration.zoom }}</p>
    <p>Teams: {{ integration.teams }}</p>
    <p>SMTP: {{ integration.smtp }}</p>
    <p>Cripto_DSS: {{ integration.cryptopro_dss }}</p>
    <p>Cripto_CSP: {{ integration.cryptopro_csp }}</p>
    <p>SMPP: {{ integration.smpp }}</p>
    <p>Анкетирование: {{ integration.limesurvey }}</p>
    
    <h3>Модули</h3>
    <p>Трансляция: {{ module.translate }}</p>
    <p>Электронная подпись: {{ module.electronic_signature }}</p>
    <p>Поручения: {{ module.action_items }}</p>
    <p>Анкетирование: {{ module.limesurvey }}</p>
    <p>Расширенные сценарии голосования: {{ module.advanced_voting }}</p>
    <p>Расширенные сценарии работы с документами: {{ module.advanced_work_with_documents }}</p>
    <p>Расширенные сценарии управления правами доступа: {{ module.advanced_access_rights_management }}</p>
    <p>Визуальные улучшения: {{ module.visual_improvements }}</p>
    <p>Интеграции со сторонними продуктами: {{ module.third_party_product_integrations }}</p>
    <p>Интеграция с продуктами Microsoft Enterprise: {{ module.microsoft_enterprise_product_integrations }}</p>
    <p>Интеграция с продуктами Microsoft Office 365: {{ module.microsoft_office_365_integration }}</p>
    
    <h3>Технические учетные записи</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Описание</th>
                <th scope="col">Учетная запись</th>
                <th scope="col">Пароль</th>
            </tr>
        </thead>
        <tbody>
            {% for tech_account in tech_account_list %}
                <tr>
                    <td>{{ tech_account.contact_info_disc }}</td>
                    <td>{{ tech_account.contact_info_account }}</td>
                    <td>{{ tech_account.contact_info_password }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Документы</h3>
    {% if file_path != "Нет документа" %}
        <p>File: <a href="{{ file_path }}">{{ file_path }}</a></p>
    {% else %}
        <p>Нет документа</p>
    {% endif %}
    <p>Text: {{ text }}</p>
    
    <h3>Технические заметки</h3>
    <p>{{ tech_note.tech_note_text }}</p>
{% endblock %}
