{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ block.super }} - Создание клиента
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_client.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="section-title">Создание нового клиента</h2>
    <form method="post" id="clientForm" class="p-3 shadow-sm rounded" class="needs-validation">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ clientForm.client_name.label_tag }}
            {{ clientForm.client_name }}
            {% if clientForm.client_name.errors %}
                <div class="alert alert-danger">
                    {{ clientForm.client_name.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {{ clientForm.short_name.label_tag }}
            {{ clientForm.short_name }}
            {% if clientForm.short_name.errors %}
                <div class="alert alert-danger">
                    {{ clientForm.short_name.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {{ clientForm.notes.label_tag }}
            {{ clientForm.notes }}
        </div>
        <div class="form-group mb-3">
            {{ techInformationCardForm.server_version.label_tag }}
            {{ techInformationCardForm.server_version }}
            {% if techInformationCardForm.server_version.errors %}
                <div class="alert alert-danger">
                    {{ techInformationCardForm.server_version.errors }}
                </div>
            {% endif %}
        </div>
        <div id="contactFormsContainer" class="mb-3"></div>
        <button type="button" id="addContactButton" class="btn btn-info mb-3">Добавить контакт</button>
        <div id="moduleFormsContainer" class="mb-3">
            {{ moduleForm.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Создать клиента</button>
    </form>
</div>

<!-- Шаблон формы контакта, который будет использоваться JavaScript для добавления новых контактов -->
<div id="contactFormTemplate" style="display:none;">
    {{ contactFormSet.management_form }}
    {{ contactFormSet.empty_form.as_p }}
</div>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        document.getElementById('addContactButton').addEventListener('click', function() {
            var container = document.getElementById('contactFormsContainer');
            var template = document.getElementById('contactFormTemplate').innerHTML;
            var formCount = container.getElementsByClassName('dynamic-form').length;

            // Создаем контейнер для новой формы
            var formContainer = document.createElement('div');
            formContainer.className = 'dynamic-form p-3 shadow-sm rounded mb-3';

            // Замена __prefix__ на номер формы и добавление в созданный контейнер
            formContainer.innerHTML = template.replace(/__prefix__/g, formCount);

            // Добавляем новый контейнер с формой в общий контейнер
            container.appendChild(formContainer);

            // Обновляем количество форм в management form
            var totalForms = document.getElementsByName('contact_cards-TOTAL_FORMS')[0];
            totalForms.value = parseInt(totalForms.value) + 1;

            // Логируем новое значение
            console.log('Updated TOTAL_FORMS:', totalForms.value);

            // Находим и обновляем чекбокс в только что добавленной форме
            var newCheckbox = formContainer.querySelector('.notification_update-toggle');
            if (newCheckbox) {
                newCheckbox.classList.add('notification-update-' + formCount); // Добавляем уникальный класс
                initializeSwitchery('.notification-update-' + formCount); // Инициализируем Switchery для нового чекбокса
            }
        });

        document.getElementById('clientForm').addEventListener('submit', function(e) {
            // Проверка аргументов
            var formData = new FormData(this);
            for (let [key, value] of formData.entries()) {
                console.log(key, value);
            }
            // Закончил проерку
            // Перед отправкой удостоверимся, что TOTAL_FORMS имеет актуальное значение
            var totalFormsElement = document.getElementsByName('contact_cards-TOTAL_FORMS')[0];
            var currentTotal = document.querySelectorAll('.dynamic-form').length;
            totalFormsElement.value = currentTotal;

            console.log('Sending TOTAL_FORMS:', totalFormsElement.value); // Для отладки

            let isValid = true;
            const contactForms = document.querySelectorAll('.dynamic-form');
            contactForms.forEach(form => {
                const firstname = form.querySelector('[name$="firstname"]');
                const lastname = form.querySelector('[name$="lastname"]');
                const email = form.querySelector('[name$="contact_email"]');
                if (!firstname.value || !lastname.value || !email.value) {
                    alert('Пожалуйста, заполните все обязательные поля в контактных формах.');
                    isValid = false;
                }
            });
            // e.preventDefault();
            if (!isValid) {
                e.preventDefault(); // Предотвратить отправку если есть ошибки
            }
        });
    });
</script>
{% endblock %}
