{% extends 'main/base.html' %}

{% block title %}
Главная страница Creg
{% endblock %}

{% block content %}
<body class="main-page">
    <div class="d-flex flex-column justify-content-between" style="min-height: 95vh;">
        <div class="text-center">
            <h1 class="display-4"></h1>
        </div>
        <div class="row text-center mb-3">
            <div class="col-12 col-md">
                <a href="{% url 'clients' %}" class="btn btn-light m-3 rounded custom-button-main">Общая информация по клиентам</a>
            </div>
            <div class="col-12 col-md">
                <a href="{% url 'clients' %}" class="btn btn-light m-3 rounded custom-button-main">Информация о клиенте</a>
            </div>
            <div class="col-12 col-md">
                <a href="{% url 'release_info' %}" class="btn btn-light m-3 rounded custom-button-main">Информация по отправке релиза</a>
            </div>
            <div class="col-12 col-md">
                <a href="{% url 'release_info' %}" class="btn btn-light m-3 rounded custom-button-main">Что-то там ещё</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
