{% extends 'main/base.html' %}
{% load static %}
{% load json_filters %} 

{% block content %}
    <!-- Ваш HTML код страницы отчета -->
    <h2>Отчет по тикетам</h2>
    <div class="form-group">
        <label for="report-date-range">Выберите диапазон дат отчета:</label>
        <input type="text" id="report-date-range" class="form-control" />
    </div>
    <div id="app" class="container" style="max-width: 100%;">
        <vue-good-table
            :columns="columns"
            :rows="rows"
            :line-numbers="true"
            :search-options="{ enabled: true, placeholder: 'Поиск по таблице' }"
            :pagination-options="{ enabled: true, mode: 'pages' }"
        >
        </vue-good-table>
    </div>
    <h2>Причины возникновения</h2>
    <div style="width:50%;">
        <script type="application/json" id="report-data-tag">
            {{ report_tickets|safe }}
        </script>
        <canvas id="chart"></canvas>
    </div>
    <script src="{% static 'js/report_chart.js' %}"></script>
    <script type="module" src="{% static 'js/report_table.js' %}"></script>
    <script type="module" src="{% static 'js/report.js' %}"></script>
{% endblock %}
