{% extends "myapp/base.html" %}

{% block content %}
<div class="content-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Creg</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>
            </ul>
            <div class="ml-auto">
                <img src="/media/favicons/banner.png" alt="Banner" class="navbar-banner">
            </div>
        </div>
    </nav>    
    <h1>Добавить нового клиента</h1>
    <div class="form-container">
        <form method="post" action="{% url 'add_client_web' %}" id="add-client-form" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="client-name-input">Имя клиента <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="client-name-input" name="client_name" required>
            </div>
            <div class="form-group">
                <label for="client-notes-input">Заметки</label>
                <textarea class="form-control" id="client-notes-input" name="notes"></textarea>
            </div>
            <div class="form-group" id="contacts-container">
                <h3>Контакты</h3>
                <div id="contact-template" style="display:none;">
                    <hr>
                    <div class="form-group">
                        <label for="">Имя контакта <span class="text-danger">*</span></label>
                        <input type="text" class="form-control contact-name-input" name="contact_name[]" required>
                    </div>
                    <div class="form-group">
                        <label for="">Должность контакта</label>
                        <select class="form-control" name="contact_position[]">
                            <option value="Руководитель">Руководитель</option>
                            <option value="Администратор">Администратор</option>
                            <option value="Секретарь">Секретарь</option>
                            <option value="Сотрудник">Сотрудник</option>
                            <option value="Сотрудник ИБ">Сотрудник ИБ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Телефон контакта</label>
                        <input type="text" class="form-control" name="contact_phone[]">
                    </div>
                    <div class="form-group">
                        <label for="">Электронная почта контакта <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="contact_email[]" required>
                    </div>
                    <div class="form-group">
                        <label for="">Рассылка обновлений</label>
                        <select class="form-control" name="notification_update[]">
                            <option value="Основной контакт">Основной контакт</option>
                            <option value="Копия рассылки">Копия рассылки</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="add-contact-button">Добавить контакт</button>
            <button type="submit" class="btn btn-primary" id="apply-button">Применить</button>
            <button type="button" class="btn btn-danger" id="back-button">Назад</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Функция для проверки заполнения обязательных полей
        function checkRequiredFields() {
            var clientNameInput = $("#client-name-input");
            if (clientNameInput.length > 0 && clientNameInput.val().trim() !== "") {
                $("button[type='submit']").prop("disabled", false);
            } else {
                $("button[type='submit']").prop("disabled", true);
            }
        }

        $(document).ready(function () {
            // Проверяем заполнение обязательных полей при загрузке страницы
            checkRequiredFields();

            // Проверяем заполнение обязательных полей при вводе текста
            $("#client-name-input").on("input", function () {
                checkRequiredFields();
            });
            $("#add-contact-button").click(function () {
                var newContact = $("#contact-template").clone().removeAttr("id");
                newContact.css("display", "");
                $("#contacts-container").append(newContact);
            });
            $("#back-button").click(function () {
                window.location.href = "{% url 'index' %}";
            });
            $("#add-client-form").submit(function(event) {
                // Отменяем стандартное поведение формы
                event.preventDefault();
                
                // Получаем данные формы
                var formData = $(this).serialize();

                // Отправляем данные на сервер с помощью AJAX-запроса
                $.ajax({
                    url: $(this).attr('action'),
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        window.location.href = "{% url 'get_client' 0 %}".replace('0', response.id);
                    },
                    error: function(xhr, status, error) {
                        // Выводим сообщение об ошибке
                        alert("Ошибка при добавлении клиента: " + xhr.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}
