{% extends "myapp/base.html" %}

{% block content %}
    <div class="content-container">
        <h1>Добро пожаловать!</h1>
        <div class="buttons">
            <a class="button" href="/get_clients/">Посмотреть список всех контактов</a>
        </div>
        <div class="admin-button">
            <a class="button" href="/admin/">Панель администрирования</a>
        </div>
        <div class="dropdown">
            <button class="button">Выбрать клиента</button>
            <div class="dropdown-content" id="search-container">
                <label for="client-search">Выбрать клиента:</label>
                <input type="text" id="client-search">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function() {
            $("#client-search").autocomplete({
                source: function(request, response) {
                    $.getJSON("{% url 'search_clients' %}", {
                        query: request.term
                    }, function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.client_name,
                                value: item.id
                            };
                        }));
                    });
                },
                minLength: 2,
                select: function(event, ui) {
                    window.location.href = "{% url 'get_client' 0 %}".replace('0', ui.item.value);
                }
            });
        });

        $(".dropdown button").click(function(event) {
            event.stopPropagation();
            $("#search-container").toggle();
        });

        $(document).click(function(event) {
            if (!$(event.target).closest(".dropdown").length) {
                $("#search-container").hide();
            }
        });
    </script>
{% endblock %}
