.filter-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Форма рамки УЗ и версии */
.form-select-group {
    max-width: 200px;
    margin-bottom: 20px;
    width: 50%;
}

/* Форма рамки календаря */
.form-calendar-group {
    margin-bottom: 20px;
}

.select2-container {
    width: 100% !important;
}

/* Ячейка ввода */
.form-control, #report-date-range {
    vertical-align: top;
    height: 33px;  
    padding: 0px 5px;
    font-size: 15px; 
    line-height: 26px;
    border-color: #a8adb1;
}

.select2-search, #select2-search--inline {
    margin-top: -28px;
}