/* Стили для элемента body */
body.main-page {
    background: url('/media/favicons/background_image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, html {
    overflow-x: hidden; /* Запретит горизонтальную прокрутку */
    max-width: 100%; /* Ограничит максимальную ширину элементов до ширины вьюпорта */
}

/* Стили для контейнера с основным содержимым */
.content-container {
    text-align: center;
}

/* Общие стили для группы кнопок */
.buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стиль для кнопки администратора (позиция в верхнем правом углу) */
.admin-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Отступ между кнопками */
.button {
    margin-bottom: 1rem;
}

/* Позиция и отображение выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
}

/* Стили для контента выпадающего меню */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Стили для ссылок внутри выпадающего меню */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Стили для ссылок внутри выпадающего меню при наведении курсора */
.dropdown a:hover {
    background-color: #f1f1f1;
}

/* Отображение выпадающего меню при активации */
.show {
    display: block;
}

/* Стили для таблицы (растягивание на всю ширину и фиксированный макет таблицы) */
.table {
    width: 100%;
    table-layout: fixed;
}

/* Стили для контейнера (растягивание на всю ширину и отступы по краям) */
.container {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Стили для формы */
.form-container {
    max-width: 500px;
    margin: 0 auto;
}

/* Стили для поля с меткой */
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Стили для текстового поля */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Стили для кнопки "Применить" */
.btn-primary {
    margin-top: 1rem;
}

.navbar-banner {
    max-height: 50px; /* Установите максимальную высоту изображения баннера */
    max-width: 200px; /* Установите максимальную ширину изображения баннера */
}

/* Стили для кастомного крестика закрытия модального окна */
.custom-close {
    padding: 1;    /* делаем отступы вокруг содержимого кнопки */
    border: none;  /* убирает границы кнопки */
    background-color: transparent;
    transition: background-color 0.5s ease; /* Это будет делать изменения более плавными */
}

.custom-close:hover {
    background-color: rgba(0,123,255,0.1); /* Синий фон с небольшой прозрачностью */
    border-radius: 5px; /* Скругленные углы, меняйте как нужно */
}

.custom-close:focus {
    box-shadow: none;
}

/* .custom-button {
    width: 100%;
    height: 100px;
    font-size: 1.5rem;
    border-radius: 15px;
} */

.custom-button {
    background-color: rgba(255, 255, 255, 0.1); /* Кнопка слегка прозрачная */
    color: white; /* Белый текст */
    text-align: center; /* Центрирование текста */
    font-size: 1.5rem;
}

.search-input {
    border-radius: 20px !important;
}

.navbar {
    margin-bottom: 20px;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

#regularSearch {
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 10px;
}

#advancedSearchButton {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.ui-datepicker {
    z-index: 2000 !important; /* или другое значение выше, чем z-index модального окна */
}

/* Стили для уведомления об успешном выполнении */
.success-toast {
    color: #fff;
}

/* Стили для уведомления об ошибке */
.error-toast {
    color: #fff;
}

/* Перенос слов будет разрешен только при ширине экрана 992px и больше */
@media (min-width: 992px) {
    .form-check-label {
      word-wrap: normal;
    }
  }
  