/* Стили для элемента body */
body.main-page {
    background: url('/media/favicons/background_image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, html {
    overflow-x: hidden; /* Запретит горизонтальную прокрутку */
    max-width: 100%; /* Ограничит максимальную ширину элементов до ширины вьюпорта */
}

/* Стили для контейнера с основным содержимым */
.content-container {
    text-align: center;
}

/* Общие стили для группы кнопок */
.buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стиль для кнопки администратора (позиция в верхнем правом углу) */
.admin-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Отступ между кнопками */
.button {
    margin-bottom: 1rem;
}

/* Кнопки главного меню переходов по разделам */
.custom-button-main {
    background: linear-gradient(#f5debbd5, #dce5f3d0); /* Цвет кнопки дефолтный */
    color: #0a0a0a; /* цвет текста */
    border-radius: 50px; /* увеличивает закругленность углов */
    border: none;
    padding: 20px 15px;
    box-shadow: 1px 1px 9px 6px rgba(80, 79, 79, 0.486);
    text-align: center; /* Центрирование текста */
    font-size: larger; /* Размер шрифта */
    height: 80px; /* Установите фиксированную высоту кнопок */
    min-width: 200px; /* Установите фиксированную минимальную ширину кнопок */
    display: flex; /* используется для выравнивания текста по вертикали */
    align-items: center; /* выравнивание текста по вертикали */
    justify-content: center; /* выравнивание текста по горизонтали */
}

/* Позиция и отображение выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
}

/* Стили для контента выпадающего меню */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Стили для ссылок внутри выпадающего меню */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Стили для ссылок внутри выпадающего меню при наведении курсора */
.dropdown a:hover {
    background-color: #f1f1f1;
}

/* Отображение выпадающего меню при активации */
.show {
    display: block;
}

/* Стили для таблицы (растягивание на всю ширину и фиксированный макет таблицы) */
.table {
    width: 100%;
    table-layout: fixed;
}

/* Стили для контейнера (растягивание на всю ширину и отступы по краям) */
.container {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Стили для формы */
.form-container {
    max-width: 500px;
    margin: 0 auto;
}

/* Стили для поля с меткой */
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Стили выпадающего меню в разделе информация об отправке релиза */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Стили для кнопки "Применить" */
.btn-primary {
    margin-top: 1rem;
}

.navbar-banner {
    max-height: 50px; /* Установите максимальную высоту изображения баннера */
    max-width: 200px; /* Установите максимальную ширину изображения баннера */
}

/* Стили для кастомного крестика закрытия модального окна */
.custom-close {
    padding: 1;    /* делаем отступы вокруг содержимого кнопки */
    border: none;  /* убирает границы кнопки */
    background-color: transparent;
    transition: background-color 0.5s ease; /* Это будет делать изменения более плавными */
}

.custom-close:hover {
    background-color: rgba(0,123,255,0.1); /* Синий фон с небольшой прозрачностью */
    border-radius: 5px; /* Скругленные углы, меняйте как нужно */
}

.custom-close:focus {
    box-shadow: none;
}

.navbar {
    margin-bottom: 10px;
    height: auto;
    max-height: 45px;
}

/* Расположение поисковой строки */
.search-bar {
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 5px 0;
    justify-content: center;
}

/* Обёртка для поискового поля */
.search-input-wrapper {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Поисковая строка */
#regularSearch {
    width: 500px; /* Ширина длинны поиска */
    height: 40px; /* Фиксированная высота поиска */
    margin: 5px 0; /* Отступы поиска */
    border-radius: 40px;
    border: none;
    background-color: #FFE6D6;
    padding: 5px 15px; /* Уменьшим отступы внутри поля */
    outline: none;
    border-color: transparent;
}

/* Расширенный поиск */
#advancedSearchButton {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    white-space: nowrap;
    padding-right: 50px;
}

.ui-datepicker {
    z-index: 2000 !important; /* или другое значение выше, чем z-index модального окна */
}

/* Стили для уведомления об успешном выполнении */
.success-toast {
    color: #fff;
}

/* Стили для уведомления об ошибке */
.error-toast {
    color: #fff;
}

/* Перенос слов будет разрешен только при ширине экрана 992px и больше  */
@media (min-width: 992px) {
    .form-check-label {
        word-wrap: normal;
    }
}

/* Размер кнопок на странице списка клиентов  */
.img-small {
    width: 3rem;
    height: 3rem;
}
